@model LambdaForums.Models.Post.PostIndexModel

@{
    ViewData["Title"] = "Respostas";
}


<div class="container body-content">
    <div class="row sectionHeader1">
        <div class="sectionHeading1">
            <span class="postIndexTitle">
                @Model.Title
            </span>
            <span id="headingBtn"><a asp-controller="Forum" asp-action="Topic" asp-route-id="@Model.ForumId" class="btn btn-back">Voltar para a Disciplina - @Model.ForumName</a></span>
        </div>
    </div>
    <div class="row" id="postIndexContent">
        <div class="col-md-3 postAuthorContainer">
            <a asp-controller="Profile" asp-action="Detail" asp-route-id="@Model.AuthorId">
                @Model.AuthorName
            </a>
            <span class="postDate">@Model.Created</span>
            @if (Model.IsAuthorAdmin)
            {
                <span class="isAdmin smaller">Admin</span>
            }
        </div>
        <div class="col-md-9 postContentContainer">
            <div class="postContent">
                @Html.Raw(Model.PostContent)
            </div>
        </div>
    </div>
    <div class="row" id="replyDivider"></div>

    @if (User.Identity.IsAuthenticated)
    {
        <div class="row" id="postReplyRow">
            <span>
                <a asp-controller="Reply" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-newReply">
                    Criar uma Resposta
                </a>
            </span>
        </div>
    }

    @if (Model.Replies.Any())
    {
        foreach (var reply in Model.Replies)
        {
            <div class="row replyContent">
                <div class="col-md-3 replyAuthorContainer">
                    <a asp-controller="Profile" asp-action="Detail" asp-route-id="@reply.AuthorId">
                        @reply.AuthorName
                    </a>
                    @if (reply.IsAuthorAdmin)
                    {
                        <div class="isAdmin smaller">Admin</div>
                        <br />
                    }
                    <span class="postDate">@reply.Created</span>
                </div>
                <dv class="col-md-9 replyContentContainer">
                    <div class="postContent">
                        @Html.Raw(reply.ReplyContent)
                    </div>
                </dv>
                <div class="col-md-2">
                    <a class="btn btn-default" asp-controller="Reply"
                       asp-action="DeleteReply"
                       asp-route-id="@reply.Id"
                       asp-route-post="@Model.Id">Apagar</a>
                </div>
            </div>
        }
    }
    else
    {
        <div class="noPosts">
            <h3>
                There are no replies to this post.<br />
            </h3>
        </div>

    }
</div>
